<ion-view title="addlocation" id="page4">
  <ion-content padding="true" class="has-header">
    <creator-map-component options="{}" marker="true" location="Madison Capital" zoom="12" style="display:block;position:relative;width:100%;height:300px;">
      <ui-gmap-google-map ng-if="map.center" center="map.center" zoom="map.zoom" options="map.options">
        <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id" options="map.marker.options"></ui-gmap-marker>
      </ui-gmap-google-map>
    </creator-map-component>
    <form id="addlocation-form4" class="list">
      <label class="item item-input" id="addlocation-input9">
        <span class="input-label">time</span>
        <input type="date" placeholder="" ng-model="controller.addLocationRequest.date">	
		
      </label>
      <label class="item item-input" id="addlocation-input10">
        <span class="input-label">location name</span>
        <input type="text" placeholder="Arabin yeri" ng-model="controller.addLocationRequest.locationName">
      </label>
    </form>
    <a ng-click="controller.takePhoto()" id="addlocation-button2" class="button button-positive button-block">Take Photo</a>
	<a ng-click="controller.addlocation()" id="addlocation-button3" class="button button-positive button-block">Save Location</a>
  </ion-content>
</ion-view>